.instructor-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5rem;
  background-color: var(--novare-purple);
}

.instructor-footer .container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px 10px;
}

.icons-container img {
  width: 30px;
}

.icons-container .add-logo {
  width: 28px;
}

.icons-container p {
  font-size: 14px;
  color: var(--novare-white);
  margin: 0;
}

.icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 768px) {
  .instructor-footer .container {
    flex-direction: column;
    height: 100%;
  }

  .instructor-footer {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .icons-container p {
    text-align: center;
  }
}
