.login .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/login1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.page-img {
  display: none;
}

@media (min-width: 768px) {
  .login .container {
    background-image: url("../../assets/images/login2.jpeg");
  }
}
