.login .container-fluid {
  padding: 100px;
  height: 100vh;
}

.login .container-fluid .row .col {
  display: flex;
  justify-content: center;
}

.login .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-img {
  width: 290px;
  margin: 20px 0;
}

.login .links {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

