.recovery-password .container-fluid .row .col {
  display: flex;
  justify-content: center;
}

.recovery-password .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recovery-password span {
  color: green;
}

@media (min-width: 768px) and (min-width: 992px) {
  .recovery-password .container-fluid .row .col {
    align-items: center;
  }
}
