.signup .container-fluid .row .col {
  display: flex;
  justify-content: center;
}

.signup .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup span {
  color: green;
}

@media (min-width: 768px) and (min-width: 992px) {
  .signup .container-fluid .row .col {
    align-items: center;
  }
}
