.signup .container-fluid {
  padding: 100px;
  height: 100vh;
}

.signup .container-fluid .row .col {
  display: flex;
  justify-content: center;
}

.signup .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-img {
  width: 290px;
  margin: 20px 0;
}

