.signup .container-fluid .row .col {
  display: flex;
  justify-content: center;
}

.signup .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup span {
  color: green;
}

.logo-img {
  width: 290px;
  margin: 20px 0;
}

