.course-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
}

.sections {
  display: flex;
  align-items: center;
  background-color: var(--novare-gray);
  border-radius: 5px;
  height: 50px;
  margin-top: 30px;
  cursor: pointer;
  border: 1px solid var(--novare-black);
  box-shadow: 0 3px var(--novare-black);
}

.sections img {
  width: 20px;
  margin: 0 20px;
}

.goback-icon {
  width: 20px;
}

.sections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sections {
  width: 350px;
}

@media (min-width: 768px) {
  .course-page .sections-container,
  .course-page .logo-container {
    padding-left: 100px;
  }

  .sections {
    width: 450px;
  }
}
