.files-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-files-option {
  display: flex;
  cursor: pointer;
}

.files-page .sections-container .sections .file-name li {
  cursor: pointer;
  padding: 0;
  margin: 0;
}


.files-page .sections-container .sections .file-name {
  display: flex;
}

.files-page .sections-container .sections {
  justify-content: space-between;
  cursor: auto;
}

.files-page .container .logo-container {
  display: flex;
  justify-content: center;
}

.goback-icon {
  margin-right: 25px;
  cursor: pointer;
}

.files li,
.trashcan-icon {
  cursor: pointer;
}

.add-icon {
  width: 25px;
  margin-right: 10px;
}

.add-files-option p:hover,
.files-page .sections-container .sections .file-name li:hover {
  border-bottom: 1px solid;
}

@media (min-width: 768px) {
  .files-page .sections-container,
  .files-page .logo-container,
  .add-files-option {
    padding-left: 80px;
  }
}
