@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Didact+Gothic&family=Special+Elite&display=swap");

html {
  font-family: "Didact Gothic", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Didact Gothic", sans-serif;
}

.login .container-fluid,
.signup .container-fluid,
.recovery-password .container-fluid {
  max-width: 960px;
  padding: 80px var(--space-big);
  height: 100vh;
}

.login .submit-btn,
.signup .submit-btn,
.recovery-password .submit-btn {
  background-color: var(--novare-purple);
  border: none;
  transition: 0.4s;
}

.login .submit-btn:hover,
.signup .submit-btn:hover,
.recovery-password .submit-btn:hover {
  background-color: var(--novare-light-purple);
}

.logo-img {
  width: 250px;
  margin: 20px 0;
}

@media (min-width: 768px) and (min-width: 992px) {
  .login .container-fluid,
  .signup .container-fluid,
  .recovery-password .container-fluid {
    padding-top: 200px;
  }

  .logo-img {
    width: 290px;
  }

  .page-img {
    width: 350px; 
  }
}
