/* Colors */
:root {
    --novare-purple: #8a70d6;
    --novare-light-purple: #d3c7ff;
    --novare-white: #fbfbfb;
    --novare-black: #424040;
    --novare-gray: #F5F5F5;
  }
  
  /* Space */
  :root {
    --space-small: 8px;
    --space-medium: 16px;
    --space-big: 32px;
  }